<div class = "sidepanel">
    <app-sidepanelprofile></app-sidepanelprofile>
    <br>
    <input type="button" value="League Table" class="button" (click)="navigateToLeaguetable()">
    <hr>
    <input type="button" value="Played Matches" class="button" (click)="navigateToPlayedmatches()">
    <hr>
    <input type="button" value="Random Match" class="button" (click)="navigateToRandommatch()">
    <br>
    <input type="button" value="Open Console" class="button" (click)="navigateToConsole()">
</div>