<body>
<p>vibhuda to see this page in browser paste " http://localhost:4200/adminregistrationpage" </p>

<div class="col-4" style="padding-left: 1%; height: 400px;position: absolute;left: 50%;top: 30%;">
    <form action="/action_page.php">
      <input type="text"  id="fname" name="firstname" placeholder="Phone Number">
      <input type="password"  id="lname" name="lastname"  placeholder="Password" >
      <input type="password"  id="fname" name="firstname" placeholder="Re-type Password">
      <input type="text"  id="lname" name="lastname"  placeholder="Other info" >
      <a routerLink="/companyregistrationpage"><button class="sign">Continue</button></a>
      <button class="log">Cancel</button>
    </form>
  </div>

  <div class="col-4" style="padding-left: 1%; height: 200px;position: absolute;left: 20%;top: 61%;">
    <form action="/action_page.php">
      <input type="text"  id="fname" name="firstname" placeholder="Name">
      <input type="email"  id="lname" name="lastname"  placeholder="Email" >
    </form>
  </div>


</body>