<div class="col-12" style="position: relative;;margin: left 100px; height: 20vh;"></div>
<div class="col-3" style="position: relative;;margin: left 100px;width: 400px; height: 80vh;"></div>
<div class="col-3" style="position: relative;;margin: left 100px;width: 400px; height: 80vh;">
    
    <div  class="col-1" style="position: relative;margin: left 100px; width: 400px; height: 250px;padding: 0%;">
        <img src="/assets/logo3.png" alt="logo" style="position: relative;width:40%;left:110px;top: 50px;">
    </div>    

    <div  class="col-1" style="position: relative;margin: left 100px;width: 400px; height: 200px;">
        <img src="/assets/logow.png" alt="logo" style="position: relative;width:100%;top:10px;">
    </div>

</div>


<div class="col-3" style="position: relative;margin: left 100px;width: 400px; height: 80vh;">

    <div style="position: relative; width:3px;height: 60vh;background-color: white;left:10px;" ></div>
    <div class="col-1" style="position: relative; width:3px;height:20vh"></div>

</div>

