<body style="padding: 0px;background-color: black; overflow: hidden;">
<div class="col-3" style="object-fit: cover; background-color: #001529;max-height: 1000px; height: 1000px;"><app-sidebar></app-sidebar></div>

<div class="col-9" style=" height:68px; background-color:#fcfcfc;">
  <h2 style=" height:20px; padding-top: 15px;padding-left:2%;"> <span style='font-size:26px;'>&#9900;</span> Company Profile </h2>
</div>

<div class="col-9" style="position: relative;;margin: left 100px; height: 100vh;">


  <div class="col-12" style="padding-left: 3%; height: 200px; background-color: #001529;">
    <div class="col-2" style="padding-left: 3%; height: 225px; background-color: #f2f2f200;">
      <img src="/assets/clogo.png" alt="logo" style="padding-top: 30px;">
    </div>
    <div class="col-4" style="padding-left: 0; height: 225px; background-color: #f2f2f200;"> 
    <h1 style="padding-top : 25px; color: white; font-size: 30px;">Company name</h1>
    <h2 style="color: white; font-size: 20px;">Company Description</h2>
    </div>   
     
  </div>

  <div class="col-12" style="padding-left: 3%; height: 225px; ">
    <div class="col-4" style="padding-left: 3%; height: 225px; background-color: #f2f2f200;"> 
          <p style="padding-top : 40px;color: rgb(0, 0, 0); font-size: 18px;"><b>Company details</b></p>
          <p style="color: rgb(0, 0, 0); font-size: 18px;">Company Email  : Company@gmail.com</p>
          <p style="color: rgb(0, 0, 0); font-size: 18px;">Company Address :  no 45/7 sri subuthipura ,battharamulla</p>
          
    
    </div>
    
  </div>

  <div class="col-12" style="padding-left: 3%; height: 250px; ">
    <div class="col-4" style="padding-left: 3%; height: 250px; background-color: #f2f2f200;"> 
      <p style="padding-top : 40px; color: rgb(0, 0, 0); font-size: 18px;"><b>Owner details</b></p>
      <p style="color: rgb(0, 0, 0); font-size: 18px;">Owner Name  : Jack Daniels </p>
      <p style="color: rgb(0, 0, 0); font-size: 18px;">Phone no  : 0777734230</p>
    </div>
    <div class="col-4" style="padding-left: 3%; height: 250px; background-color: #f2f2f200;"> 
      <p style="padding-top : 92px;color: rgb(0, 0, 0); font-size: 18px;">Email  : owner@gmail.com</p>
      <p style="color: rgb(0, 0, 0); font-size: 18px;">Other Details </p>
    </div>
    <div class="col-4" style="padding-left: 3%; height: 250px; background-color: #f2f2f200;"> </div>
  </div>

 
   

</div>
</body>