body, html {
    height: 100%;
    margin: 0;
  }
  
body {
    background-image: url(/assets/background.png);
  /* Full height */
    height: 100%; 

  /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
   background-size: cover;
    
}


.sign,.log{
    background-color:#4351DA;
    display:inline-block;
    font-family:'sofia Pro',sans-serif;
    font-size: 20px;
    padding: 14px 40px;
    color: aliceblue;
}
.sign{
  position:absolute ;
  top: 380px; 
  right: 700px;

}
.log{
  position: absolute;
  top: 380px;
  right: 550px;
}