<div class="col-3" style="object-fit: cover; background-color: #001529;max-height: 1000px; height: 1000px;"><app-sidebar></app-sidebar></div>

<div class="col-9" style=" height:68px; background-color:#fcfcfc;">
  <h1 style=" height:68px; padding-top: 2%;padding-left:2%;"> <span style='font-size:305x;'>&#9900;</span> Production Report</h1>
</div>
<!--<img src="/assets/topbar.png" alt="topbar" style="height: 20px;">-->
<div class="col-9" style="position: relative;;margin: left 100px; height: 100vh;">
  
  <div class="col-12" style="padding-left: 4%; height: 70px;">
    <div class="col-6">
        <h2>Production Table</h2>
        <h6>Info for productions for the month</h6>
    </div>
    <button class="button button1">Sort by QTY</button>
    <button class="button button1">Sort by Date</button>
    <button class="button button1">Export Report</button>
    
  </div>

   <div>
    <nz-table #basicTable [nzData]="listOfDataPR" style="padding-top: 1%;">
      <thead>
        <tr>
          <th>Product name</th>
          <th>Qty</th>
          <th>Order ID</th>
          <th>Customer ID</th>
          <th>Order Date</th>
          <th>Expected Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.pname}}</td>
          <td>{{data.qty}}</td>
          <td>{{data.oid}}</td>
          <td>{{data.cid}}</td>
          <td>{{data.odate}}</td>
          <td>{{data.edate}}</td>
          <td>{{data.status}}</td>
      </tbody>
    </nz-table>
  </div>
  </div>
