<div class="content">
    <app-sidepanel class="grid-item-1" class="sidepanel"></app-sidepanel>

    <div class="interface">

        <div class="bar">
            <input type="text" [(ngModel)]="search" class="barContent" id="textInput" placeholder="dd/mm/yyyy">
            <input type="button" class="barContent" id="goButton" value="GO" (click)="searchDate()">
        </div>
        
        <table>
            <tr class="tableHeader">
                <th>Date</th>
                <th>Club A</th>
                <th>Club A Scored</th>
                <th>Club B</th>
                <th>Club B Scored</th>
                <th>Match Status</th>
            </tr>

            <tr *ngFor = "let Match of matches" class="tableContent">
                <td>{{ Match.date.dateStr }}</td>
                <td>{{ Match.clubNameOne }}</td>
                <td>{{ Match.clubOneGoals }}</td>
                <td>{{ Match.clubNameTwo }}</td>
                <td>{{ Match.clubTwoGoals }}</td>
                <td>{{ Match.winText }}</td>
            </tr>

        </table>
        <input type="button" value="console" (click)="consoleLog()">

    </div>
    
</div>