.content{
    display: flex;
}

.interface{
    flex: 1;
}

.sidepanel{
    width: 200px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    padding-top: 15px;
    padding-bottom: 15px;
}

td{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

table,td,th{
    border: 2px solid #206b93;
}

.tableHeader{
    width: fit-content;
    font-size: 20px;
    background-color: #173f5f;
    color: white;
    padding: 20px;
}

.th,td{
    font-size: 15px;
    text-align: center;
    padding: 10px;
}