<body>
    <div class="col-4" style="padding-left: 1%; height: 400px;position: absolute;left: 50%;top: 30%;">
        <form action="/action_page.php">
          <input type="text" [(ngModel)] = "companyname" id="fname" name="firstname" placeholder="Company Address">
          <input type="password" [(ngModel)] = "password" id="lname" name="lastname"  placeholder="Password" >
          <input type="password" [(ngModel)] = "retypepassword" id="fname" name="firstname" placeholder="Re-type Password">
          <input type="email"  [(ngModel)] = "Companyemail"  id="lname" name="lastname"  placeholder="Company Email (optional)" >
          <a routerLink="/copage"><button class="sign" (click)="submitform()">Continue</button></a>
          <button class="log">Cancel</button>
        </form>
      </div>
    
      <div class="col-4" style="padding-left: 1%; height: 200px;position: absolute;left: 20%;top: 61%;">
        <form action="/action_page.php">
          <input type="text" [(ngModel)] = "companyname"  id="fname" name="firstname" placeholder="Company Name">
          <input type="text" [(ngModel)] = "companydesc" id="lname" name="lastname"  placeholder="Company Description" >
        </form>
      </div>
    
    
</body>