<body>
    <div class="col-4" style="padding-left: 1%; height: 400px;position: absolute;left: 50%;top: 30%;">
        <form action="/action_page.php">
          <input type="text"  id="fname" name="firstname" placeholder="Company Address">
          <input type="password"  id="lname" name="lastname"  placeholder="Password" >
          <input type="password"  id="fname" name="firstname" placeholder="Re-type Password">
          <input type="email"  id="lname" name="lastname"  placeholder="Company Email (optional)" >
          <a routerLink="/copage"><button class="sign">Continue</button></a>
          <button class="log">Cancel</button>
        </form>
      </div>
    
      <div class="col-4" style="padding-left: 1%; height: 200px;position: absolute;left: 20%;top: 61%;">
        <form action="/action_page.php">
          <input type="text"  id="fname" name="firstname" placeholder="Company Name">
          <input type="text"  id="lname" name="lastname"  placeholder="Company Description" >
        </form>
      </div>
    
    
</body>