<div class="col-3" style="object-fit: cover; background-color: #001529;max-height: 1000px; height: 1000px;"><app-sidebar></app-sidebar></div>


<div class="col-9" style=" height:68px; background-color:#fcfcfc;">
    <h1 style=" height:68px; padding-top: 2%;padding-left:2%;"> <span style='font-size:305x;'>&#9900;</span> Product information</h1>
</div>

  <!--<img src="/assets/topbar.png" alt="topbar" style="height: 20px;">-->
<div class="col-9" style="position: relative;;margin: left 100px; height: 100vh;">

    <div class="col-4" style="padding-left: 5%; height: 250px;">
        <h2>New Product Form</h2>
        <form action="/action_page.php">
          <label for="fname">Product Name :</label>
          <input type="text" id="fname" name="firstname" >
          <label for="lname">Raw Materials:</label>
          <input type="text" id="lname" name="lastname" >
          
        </form>
      </div>
      <div class="col-4" style="padding-left: 5%; height: 250px;">
        <form action="/action_page.php" style="padding-top: 15%;">
          <label for="fname">Production time :</label>
          <input type="text" id="fname" name="firstname" >
          <label for="lname">Raw Material Qty : </label>
          <input type="text" id="lname" name="lastname">
        </form>
      </div>
    
      <div class="col-4" style="padding-left: 4%; height: 250px;">
        <div style="height: 65.5%;">
            <h3  style="padding-left: 25%;">Product Info</h3>
            <p> Material Name : Material 1 </p>
        </div>
    
        <form action="/action_page.php">
          <input type="submit" value="Submit">
        </form>
        
      </div>
  
    <div>
      <h2>Product information Table</h2>
      <h6>This table includes info about data of Items made by the company</h6>
      <nz-table #basicTable [nzData]=" " style="padding-top: 1%;">   
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Raw materials</th>
            <th>Raw material Qty</th>
            <th>Production time</th>
             
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{data.mname}}</td>
            <td>{{data.mid}}</td>
            <td>{{data.vname}}</td>
            <td>{{data.mqty}}</td>
        
        </tbody>
      </nz-table>
    </div>
</div>

