<body style="padding: 0px;background-color: black; overflow: hidden;">
<div class="col-3" style="object-fit: cover; background-color: #001529;max-height: 1000px; height: 1000px;"><app-sidebar></app-sidebar></div>


<div class="col-9" style=" height:68px; background-color:#fcfcfc;">
  <h2 style=" height:20px; padding-top: 15px;padding-left:2%;"> <span style='font-size:26px;'>&#9900;</span> Raw Material Status</h2>
</div>

  <!--<img src="/assets/topbar.png" alt="topbar" style="height: 20px;">-->
<div class="col-9" style="position: relative;;margin: left 100px; height: 100vh;overflow: scroll;">
  
    <div>
      <h2>Raw Materiel Table</h2>
      <h6>Raw material table including data for this month</h6>
      <nz-table #basicTable [nzData]="listOfDataRMStatus" style="padding-top: 1%;">
        <thead>
          <tr>
            <th>Material name</th>
            <th>Material Id</th>
            <th>Vendor name</th>
            <th>Vendor Id </th>
            <th>Material Qty</th>
            <th>Order Date</th>
            <th>Expected Date</th>
            <th>Expected Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{data.mname}}</td>
            <td>{{data.mid}}</td>
            <td>{{data.vname}}</td>
            <td>{{data.vid}}</td>
            <td>{{data.mqty}}</td>
            <td>{{data.odate}}</td>
            <td>{{data.edate}}</td>
            <td>{{data.eprice}}</td>
        </tbody>
      </nz-table>
    </div>
</div>
</body>