<!--<nz-layout class="app-layout">-->

    <!-- Sidebar part -->

    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">    
      <div class="sidebar-logo">
        <a href="/welcome" target="_blank">
          <img src="/assets/logo.png" alt="logo">
        </a>
      </div>

      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed"> 
        <li nz-menu-item nzMatchRouter><i nz-icon nzType="file-add" nzTheme="outline"></i>
            <a routerLink="/copage">Create PO & PR</a>
        </li>

        <li nz-submenu nzOpen nzTitle="Moniter Processes" nzIcon="desktop">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/welcome">Raw Stock Management</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>Production Process</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>Distribution Process</a>
              <!--<a routerLink=" ">Workplace</a>-->
            </li>
          </ul>
        </li>

        <li nz-submenu nzOpen nzTitle="Generate Reports" nzIcon="audit">
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>Raw Material Supply Report</a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a>Production Report</a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a>Product Distribution Report</a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a>RM Requirement Forecast Report</a>
            </li>
            <li nz-menu-item nzMatchRouter>
                <a>Sales Forecast Report</a>
            </li>
            </ul>
          </li>

          <li nz-menu-item nzMatchRouter><i nz-icon nzType="line-chart" nzTheme="outline"></i>
            <a>Prediction</a>
          </li>

          <li nz-menu-item nzMatchRouter><i nz-icon nzType="dollar" nzTheme="outline"></i>
            <a>Sales</a>
          </li>

          <li nz-menu-item nzMatchRouter><i nz-icon nzType="container" nzTheme="outline"></i>
            <a>Raw Material Status</a>
          </li>

          <li nz-menu-item nzMatchRouter><i nz-icon nzType="car" nzTheme="outline"></i>
            <a>Order Status</a>
          </li>

          <li nz-menu-item nzMatchRouter><i nz-icon nzType="calendar" nzTheme="outline"></i>
            <a>Scheduling</a>
          </li>

          <li nz-menu-item nzMatchRouter><i nz-icon nzType="team" nzTheme="outline"></i>
            <a>Supplier Info</a>
          </li>

          <li nz-menu-item nzMatchRouter><i nz-icon nzType="reconciliation" nzTheme="outline"></i>
            <a>Costing</a>
          </li>

          <li nz-menu-item nzMatchRouter><i nz-icon nzType="solution" nzTheme="outline"></i>
            <a>Company Profile</a>
          </li>

        </ul>
        <img src="/assets/Rect1.png" alt="logo" style="width:100%; height: 20%;">
    </nz-sider>

    <!--
    <nz-layout>
      <nz-header>
        <div class="app-header">
          
            <p>heloooooooooooo</p>
            <a><i nz-icon nzType="download" nzTheme="outline"></i></a>
            <a><i nz-icon nzType="save" nzTheme="outline"></i></a>
            <a><i nz-icon nzType="setting" nzTheme="outline"></i></a>
            <a><i nz-icon nzType="sync" nzTheme="outline"></i></a>
            <a><i nz-icon nzType="cloud-upload" nzTheme="outline"></i></a>
       </div>
      </nz-header>

      <nz-layout>
        <nz-content>
            <div class="inner-content">
              <router-outlet>
                <p>fuck meeeeeeee</p>
              </router-outlet>
            </div>
          </nz-content>
        </nz-layout> 
        
      
    </nz-layout> -->
  <!--</nz-layout>-->
