.content{
    display: flex;
}

.interface{
    flex: 1;
}

.sidepanel{
    width: 200px;
}


.interface{
    display: grid;
    grid-template-columns: auto auto;
    margin : 20px;
    width: 100%;
}

.section-1{
    text-align: right;
    margin-right: 15%;
    margin-top: 8%;
}

.section-2{
    margin-top: 8%;
}



.section-3{
    grid-column: 1 / span 2;
    align-self:top;
    text-align: center;
}

input{
    padding: 20px;
    font-size: 25px;
    border-radius: 50px;
}

input:focus{
    outline: none;
    box-shadow: none;
}

input:active{
    font-size: 24px;
}

h3{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-family: 'Courier New', Courier, monospace;
}

text{
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    font :bold;
}